<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations"><br>
<label for="name"> User's Name</label>
<input type="text" id="name" name="name">
<label for="email"> User's Email</label>
<input type="text" id="email" name="email">
<label for="password"> User's Password</label>
<input type="text" id="password" name="password">
<input type="submit" value="Sign Up">
</form>

